<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="GadgetHub.Service.GadgetHubService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/GadgetHubService/"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="GadgetHub.Service.IGadgetHubService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<!--<service name="GadgetHub.Service.LoginService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/LoginService/"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="GadgetHub.Service.ILoginService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>-->
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>